<meta charset="UTF-8">
<title>陈一心公益基金年报</title>
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit" />
<!-- 百度禁止转码 -->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 是否开启webapp全屏模式 -->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- 设置状态栏背景颜色 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!-- 忽略页面中的数字识别为电话 -->
<meta name="format-detection" content="telephone=no">
<meta name="x5-fullscreen" content="true">
<!-- 强制数字不能转为电话 -->
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="./css/style.css" rel="stylesheet">
<script src="./js/lib.js"></script>
<script>
	function fontRem() {
        var designW = 640;
        var html = document.getElementsByTagName('html')[0];
        var winW = html.offsetWidth;
        html.style.fontSize = (winW / designW) * 100 + 'px';
    }
    fontRem();
    window.onresize = fontRem;
</script>